body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
}

.app {
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 220px;
}

.sidebar {
    background-color: rgb(224, 224, 224);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    padding: 10px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-y: auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

input {
    margin-bottom:20px;
    height: 20px;
    border-color: #ffffffca;
    border-radius: 3px;
    text-indent: 8px;
}

button {
    height: 30px;
    width: 80px;
    border-radius: 3px;
    background-color: #069af3;
    color: white;
    border: 0;
}


/* background: linear-gradient(to right, #ff0099, #493240); */








